<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57633376984-cqahpdnh6mvqc02ic5qbs4o2gaf66r4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57633376984-cqahpdnh6mvqc02ic5qbs4o2gaf66r4d</string>
	<key>API_KEY</key>
	<string>AIzaSyDSjbxQhOvt9fYLJkNl0QPS4PSh05W7G2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>57633376984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexlopez.PushNotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-ios-8df4e</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-ios-8df4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57633376984:ios:76d236a18548c74ab1e5ad</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotification-ios-8df4e.firebaseio.com</string>
</dict>
</plist>